{% load static %}
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles\about.css' %}">
    <script src="https://kit.fontawesome.com/af8b7f8b67.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="image">
        <div class="card bg-dark text-white" id="cardy">
            <img id="image" src="{% static 'Images/d67a47154452941.6343d0505c3cf.png' %}" class="card-img" alt="...">
        </div>
        <div class="leaders">
            <div class="row">
                <div class="col-4">
                    <p class="name-link"> <a href="#"><i class="fa-solid fa-user" id="name"></i> <span class="name">Charity Mutembei</span></a> </p>
                </div>
                <div class="col-4">
                    <p class="name-link"> <a href="#"><i class="fa-solid fa-user" id="name"></i> <span class="name">Charity Mutembei</span></a> </p>
                </div>
                <div class="col-4">
                    <p class="name-link"> <a href="#"><i class="fa-solid fa-user" id="name"></i> <span class="name">Charity Mutembei</span></a> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p class="name-link"> <a href="#"><i class="fa-solid fa-user" id="name"></i> <span class="name">Charity Mutembei</span></a> </p>
                </div>
                <div class="col-4">
                    <p class="name-link"> <a href="#"><i class="fa-solid fa-user" id="name"></i> <span class="name">Charity Mutembei</span></a> </p>
                </div>
                <div class="col-4">
                    <p class="name-link"> <a href="#"><i class="fa-solid fa-user" id="name"></i> <span class="name">Charity Mutembei</span></a> </p>
                </div>
            </div>
        </div>
        <div class="sixth-body-content">
            <div class="row">
                <div class="col-10" id="foot">
                    <p class="footer">
                        Citation Hunt is made by volunteers, hosted on Tools Labs and translated via. Hey! My source is on GitHub!
                    </p>
                </div>
                <div class="col-2">
                    <p>
                        <a href="#">translatewiki.net</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>