{% load static %}
<head>
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles\navbar.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Citation hunt</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Citation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Customize</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" >Leaderboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-solid fa-right-from-bracket"> </i> Logout</a>
          </li>
        </ul>
      </div>
      <div class="languages" id="languages">
        <select id="lang-selector" class="mx-1 col-7" id="languages1">
  
            <option data-lang-code="af">Afrikaans</option>
            
            <option data-lang-code="ar">العربية</option>
            
            <option data-lang-code="as">অসমীয়া</option>
            
            <option data-lang-code="azb">ورکجه ویکی‌پدیا</option>
            
            <option data-lang-code="be">Беларуская</option>
            
            <option data-lang-code="be_tarask">Беларуская (тарашкевіца)</option>
            
            <option data-lang-code="bg">Български</option>
            
            <option data-lang-code="bh">Bihari</option>
            
            <option data-lang-code="bn">বাংলা</option>
            
            <option data-lang-code="bs">Bosanski</option>
            
            <option data-lang-code="ca">Català</option>
            
            <option data-lang-code="cs">Čeština</option>
            
            <option data-lang-code="de">Deutsch</option>
            
            <option data-lang-code="el">Ελληνικά</option>
            
            <option data-lang-code="en" selected="">English</option>
            
            <option data-lang-code="eo">Esperanto</option>
            
            <option data-lang-code="es">Español</option>
            
            <option data-lang-code="eu">Euskara</option>
            
            <option data-lang-code="fa">فارسی</option>
            
            <option data-lang-code="fi">Suomi</option>
            
            <option data-lang-code="fr">Français</option>
            
            <option data-lang-code="he">עברית</option>
            
            <option data-lang-code="hi">हिन्दी</option>
            
            <option data-lang-code="hr">Hrvatski</option>
            
            <option data-lang-code="hu">Magyar</option>
            
            <option data-lang-code="hy">Հայերեն</option>
            
            <option data-lang-code="id">bahasa Indonesia</option>
            
            <option data-lang-code="it">Italiano</option>
            
            <option data-lang-code="ja">日本語</option>
            
            <option data-lang-code="ko">한국어</option>
            
            <option data-lang-code="lv">Latviešu</option>
            
            <option data-lang-code="mk">Македонски</option>
            
            <option data-lang-code="ml">മലയാളം</option>
            
            <option data-lang-code="ms">Malay</option>
            
            <option data-lang-code="my">Burmese</option>
            
            <option data-lang-code="nb">Norsk (bokmål)</option>
            
            <option data-lang-code="ne">नेपाली</option>
            
            <option data-lang-code="nl">Nederlands</option>
            
            <option data-lang-code="nn">Norsk (nynorsk)</option>
            
            <option data-lang-code="or">Odia</option>
            
            <option data-lang-code="pa">Eastern Punjabi</option>
            
            <option data-lang-code="pl">Polski</option>
            
            <option data-lang-code="pt">Português</option>
            
            <option data-lang-code="ro">Română</option>
            
            <option data-lang-code="ru">Русский</option>
            
            <option data-lang-code="sd">Sindhi</option>
            
            <option data-lang-code="sh">Srpskohrvatski / Српскохрватски</option>
            
            <option data-lang-code="sk">Slovenčina</option>
            
            <option data-lang-code="sl">Slovenščina</option>
            
            <option data-lang-code="sr">Српски</option>
            
            <option data-lang-code="sv">Svenska</option>
            
            <option data-lang-code="ta">Tamil</option>
            
            <option data-lang-code="tl">Tagalog</option>
            
            <option data-lang-code="tr">Türkçe</option>
            
            <option data-lang-code="uk">Українська</option>
            
            <option data-lang-code="ur">اردو</option>
            
            <option data-lang-code="vi">tiếng Việt</option>
            
            <option data-lang-code="zh_hans">简体中文</option>
            
            <option data-lang-code="zh_hant">繁體中文</option>
            
          </select>
    </div>

</div>
    </div>
  </nav>
</body>